<div class="container">
 
<p class="pt-5"></p>
    <div class="jumbotron">
      <h1 class="text-center">My bookmark page</h1>
      </div>
 
   </div>
<div class="container">
 <div class="row">
    <% @bookmarks.each do |bookmark| %>
      <% trick = bookmark.trick %>
      <div class="col-sm mt-4">
        <div class="card" style="width: 16rem;">
          <img src="http://img.youtube.com/vi/<%= trick.video_id %>/mqdefault.jpg" />
          <div class="card-body <%= check_user_trick(trick) if user_signed_in? %>"> 
          
            <h4 class="card-title"><%= link_to trick.title, trick %></h4>
            <h6 class="text-muted"><%= trick.ja_title %></h6>
              <% if check_user_trick(trick) == "master" && user_signed_in? %>
                <%= link_to "cancel...", trick_user_trick_path(trick, get_user_trick(trick)), method: :delete, data: {confirm: "本当にキャンセルしますか？"}, class: 'btn btn-secondary' %>
              <% else %>
                <%= link_to "master！", trick_user_tricks_path(trick), method: :post, class: 'btn btn-primary' %>
              <% end %>
                <% trick.categories.each do |category| %>
                <span class="badge badge-secondary"><%= category.category_name %></span>
                <% end %>
            </div>
          </div>
       </div>
    <% end %>
  </div>
</div>
<p></p>
       <h5 class="text-center"><%=link_to "トリック一覧に戻る", tricks_path, class: "btn btn-warning mx-2" %></h5>