<!DOCTYPE html>
<html lang ="ja">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Poletricks</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="stylesheets/top.scss">

</head>

<body>
	<!--nav bar start-->

<!--main start-->
<div class="jumbotron jumbotron-extend">
	
  <div class="container">
  
	  <h1 class="display-4">動画を検索して練習しよう!</h1>
	  <p>ポールダンスのトリックを検索して閲覧、練習してチェックできます</p>
	 	<%=image_tag'logo2yellow.png', :size =>'300x130' %>
	  <p>Let's get started!</p>
	 
	  <div class="caption">
	      <%=link_to"create your account", signup_path, class: "btn btn-warning btn-lg" %>
  	   
  	  </div>
  </div>
 </div>


<!--end main-->

<!--videoexample start-->
<div class="container">
	<div class="row">
	    <div class="col-md-12">
			<h2>動画でトリックをマスターする</h2>
		</div>
	</div>
<div class="row">
    <div class="col-sm mt-3">
      <div class="card" style="width: 18rem;">
       
        <%=image_tag'oanak.jpg', :size =>'287x200' %>
          <div class="card-body">
            <h5 class="card-title">IroneX</h5>
          </div>
      </div>
    </div>
  <div class="col-sm mt-3">
      <div class="card" style="width: 18rem;">
        <%=image_tag'oanak.jpg', :size =>'287x200' %>
           <div class="card-body">
             <h5 class="card-title">Russian sprit</h5>
           </div>
      </div>
    </div>
    <div class="col-sm mt-3">
      <div class="card" style="width: 18rem;">
      <%=image_tag'oanak.jpg', :size =>'287x200' %>
          <div class="card-body">
            <h5 class="card-title">OanaK</h5>
          </div>
      </div>
     </div>
  </div>
</div>


<!--vicdeoexample end-->

<!--about start-->
<div class="about">
	<div class="jumbotron jumbotron-extend2">
	  <h3>About</h3>
	  <%= image_tag'street.jpg', :size => '200x200' %>
	  
	  <p class="lead">技の名前やイメージを簡単に検索できたらいいな</p>
	  <p>自分がどれだけできるようになったのか可視化できたら面白いな</p>
	  <p>そんなポールダンサーあるあるを解消すべくこのサービスを作って見ました。</p>
    </div>

	</div>

<!--about end-->

<!--howto start-->
<div class="howtouse">
	<div class="container">
    <h3>How to use</h3>
		<div class="row">
				<div class="col-sm mt-3">
					<p class="card-text">1.やって見たい技を探します</p>
					<div class="card" style="width: 18rem;">
					  
				    </div>
				 </div>
				 <div class="col-sm mt-3">
				 	<p class="card-text">2.動画を見て練習します。</p>
					<div class="card" style="width: 18rem;">
					
					   <%=image_tag'doga.png', :size =>'287x200' %>
				    </div>
				 </div>
				 <div class="col-sm mt-3">
				 	<p class="card-text">3.できた技にチェックを入れます。</p>
					<div class="card" style="width: 18rem;">
					  <img src="img/check.png" class="card-img-top" alt="star">
					</div>
				 </div>
	</div>
</div>
<!--howto end-->
<!--cta start-->
<div class="cta">
<div class="jumbotron">
	
  <h1 class="lets">さあトリックをマスターしましょう!</h1>
  
   <%=link_to"無料ではじめる", signup_path, class: "btn-cta btn-warning btn-lg" %>
</div>
</div>
<!--cta end-->
<!--profile-->

<div class="profile">
<h3>profile</h3>
<%=image_tag'mukashi.jpg', :size => '100x100' %>
<h3>開発者:Yumiko Tezuka(U-ki)</h3>
<p>ポールダンサー・エアリアリスト</p>
<p>ポールダンスやエアリアルのショーを日本全国津々浦々で行なっています。</p>
<p>世界各国で大会の出場やパフォーマンス習得のために修行旅してます</p>
</div>


　　<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 

	
	</body>
	</html>