
<div class="jumbotron">
<div class ="container">
    <h1>新規投稿</h1>
    <%= form_for :trick, url:tricks_path do |f| %>
    <%=f.label :title %><br>
    <%=f.text_field :title %>
    <%=f.label :video %><br>
    <%=f.text_field :video %>
    <p></p>
    <p>
        <%=f.submit %>
    </p>
    <% end %>
</div>
</div>