
<div class="jumbotron">
<div class ="container">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>新規投稿</h1>
    <%= form_for :trick, url:tricks_path do |f| %>
        <%=f.label :title %><br>
        <%=f.text_field :title %>
        <%=f.label :video_id %><br>
        <%=f.text_field :video_id %>

        <%= form_for @trick do |f| %>
          <%= f.label :category_id %>
          <%= f.collection_select :category_ids, Category.all, :id, :category_name %>
        <%- end -%>
  
    <p></p>
        <%=f.submit %>
  
    <% end %>
</div>
</div>
</div>
</div>