<div class="jumbotron">
  <div class ="container">
   <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>新規投稿</h1>
      <% if @trick.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trick.errors.count, "error") %> prohibited this form_field_value from being saved:</h2>
    
          <ul>
          <% @trick.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <%= form_for @trick do |f| %>
        <%=f.label :title %><br>
        <%=f.text_field :title %>
        <%=f.label :ja_title %><br>
        <%=f.text_field :ja_title %>
        <%=f.label :video_id %><br>
        <%=f.text_field :video_id %>
        
        <%= f.label :category_id %>
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :category_name %>
        <%=f.submit %>
    <% end %>
   </div>
  </div>
 </div>
</div>
