<div class="container">
 <div class="row">
  <div class="col-md-6 offset-md-3">
      <p class="pt-5"></p>
      <h3>PoletricksBlog</h3>
      <hr>
<h3><%= @article.title %></h3>
<p></p>
<strong><%= @article.created_at %></strong>
<hr>
 <div class="text-center">
   <% if @article.image? %>
    <%= image_tag @article.image.to_s, :size =>'300x300' %>
  <% else %>
    <%= image_tag 'no_image.png' %>
  <% end %>
  </div>
<p></p>
<strong><%= @article.text %></strong>
<p></p>

<p></p>
<hr>
<%= link_to "記事一覧に戻る", articles_path %>

</div>
 </div>
</div>