<div class="container">
 <div class="row">
<div class="col-sm md-4">
<div class="card" style="width: 16rem;">
  <img src="http://img.youtube.com/vi/<%= trick.video_id %>/mqdefault.jpg" />
  <div class="card-body <%= check_user_trick(trick) if user_signed_in? %>"> 
        
    <h4 class="card-title"><%= link_to trick.title, trick %></h4>
    <h6 class="text-muted"><%= trick.ja_title %></h6>


    <% if check_user_trick(trick) == "master" && user_signed_in? %>
     
        <%= link_to trick_user_trick_path(trick, get_user_trick(trick)), method: :delete, remote: true, class: 'btn btn-secondary' do %>
          <i class=" icon-user icon-black">Cancel...</i>
        <% end %>
     
    <% else %>
      <%= link_to trick_user_tricks_path(trick), method: :post, remote: true, class: 'btn btn-primary' do %>
        <i class=" icon-user icon-black">Master!</i>
      <% end %>
    <% end %> 
    
    <% trick.categories.each do |category| %>
      <span class="badge badge-secondary"><%= category.category_name %></span>
    <% end %>
  </div>
</div>
</div>       
</div>
</div>             

