
     <nav class="navbar navbar-expand-lg navbar-light fixed-top  bg-white">
         <a class="navbar-brand" href="https://poletricks.herokuapp.com"><%= image_tag'logo2red.png', :size =>'110x30' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
             <%= link_to "Top",root_path %>
            </li>
            <li class="nav-item">
              <%= link_to "Bookmark",bookmarks_path,:target => "_blank" %>
            </li>
            <li class="nav-item">
              <%= link_to "Blog",'http://acro-y.hatenadiary.com/',:target => "_blank" %>
            </li>
            <li class="nav-item">
             <%= link_to "Contact",'https://forms.gle/oUamXF61SLYzgBLL7',:target => "_blank" %>
            </li>
       
     
    	<% if user_signed_in? %>
    	
    
                <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
        <% else %>
              <%#=link_to"Create your account", new_user_registration_path, class: "btn btn-outline-warning mx-2" %>
             <li class="nav-item"><%=link_to"Log in", new_user_session_path %></li>
        <% end %>
         </ul>
        </div>
      </nav>
