<!DOCTYPE html>
<html lang ="ja">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Poletricks</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
</head>
	<!--nav bar start-->
  <!-- Navbar content -->

     <nav class="navbar navbar-expand-lg navbar-light bg-white">
         <a href="https://poletricks.herokuapp.com"><%= image_tag'logo2red.png', :size =>'110x30' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
           <%= link_to "Top",root_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Blog",'http://acro-y.hatenadiary.com/',:target => "_blank" %>
          </li>
          <li class="nav-item">
           <%= link_to "Contact",   '#',:target => "_blank" %>
          </li>
        </ul>
      </div>
    	<% if user_signed_in? %>
    	      <%=link_to"マイページで動画を見る",tricks_path, class: "btn btn-outline-primary mx-2" %>
                <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "btn btn-outline-danger mx-2" %>
        <% else %>
              <%=link_to"Sign up", new_user_registration_path, class: "btn btn-outline-warning mx-2" %>
              <%=link_to"Log in", new_user_session_path, class: "btn btn-outline-warning mx-2" %>
       <% end %>
      
    	<div class="icon">
    	<a href="https://twitter.com/poletricks" target = "_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
    	<a href="https://www.facebook.com/Poletricks-1177657425727381/" target = "_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
    		<a href="https://www.instagram.com/u_ki_acropole/" target = "_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    	</div>
      </nav>

<!--end navbar-->